.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background: rgba(114, 44, 219, 1);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(114, 44, 219, 1) 0%,
    rgba(114, 44, 219, 1) 27%,
    rgba(54, 3, 163, 1) 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(114, 44, 219, 1)),
    color-stop(27%, rgba(114, 44, 219, 1)),
    color-stop(100%, rgba(54, 3, 163, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(114, 44, 219, 1) 0%,
    rgba(114, 44, 219, 1) 27%,
    rgba(54, 3, 163, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(114, 44, 219, 1) 0%,
    rgba(114, 44, 219, 1) 27%,
    rgba(54, 3, 163, 1) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(114, 44, 219, 1) 0%,
    rgba(114, 44, 219, 1) 27%,
    rgba(54, 3, 163, 1) 100%
  );
  background: no-repeat fixed
    radial-gradient(
      ellipse at center,
      rgba(114, 44, 219, 1) 0%,
      rgba(114, 44, 219, 1) 27%,
      rgba(54, 3, 163, 1) 100%
    );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#722cdb', endColorstr='#3603a3', GradientType=1 );
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
